main {
    padding: 50px;
    text-align: center;
 
}

body{
    background-color: grey;
}

.button{
    border: solid 3px black;
    border-radius: 20px;
    color: black;
    padding: 10px;
    position:relative;
    background-color: white;
    text-decoration: none;  
}