main {
    padding: 50px;
    text-align: center;
 
}

body{
    background-color: grey;
}

.button{
    border: solid 1px white;
    border-radius: 20px;
    text-decoration-style: none;
    color: white;
    padding: 10px;
    position:relative;
    margin-top: 500px;
}