.city-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 200px;
    border: 1px solid black;
    background-color: grey;
    padding: 5px;
}


.info-container {
    border: 1px solid black;

}